*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}	
.clearfix::after{
	content:'';
	display:block;
	width:0;
	height:0;
	visibility:hidden;
	clear:both;
}
.clearfix{
	zoom:1;
} 
.fl{
	float:left;
}
.fr{
	float:right;
}
.box{
	width: 100%;
	padding-top: 150px;
	background:url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1564565733384&di=216014cec8f979d00a31a63805163bd4&imgtype=0&src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2Fa%2F575e595c519f8.jpg') no-repeat;
	background-size: 100% 100%;
	background-position: 0 0;
}
.box_box{
	width: 50%;
	height: 300px;
	padding-top: 20px;
	text-align: center;
	background-color: rgba(0,0,0,.2);
	margin: 0 auto;
	border-radius: 20px;
	box-shadow: 1px 1px 8px 8px rgba(0,0,0,.7);
}
.logon h4,.login h4{
	color:#fff;
	font-size: 30px;
}
.login{
	display: none;
}
.logon div,.login div{
	color:#fff;
}
.logon div input,.login div input{
	width: 60%;
	height: 30px;
	outline: none;
	border:none;
	border-bottom:solid 1px #fff;
	color:#fff;
	background-color: rgba(0,0,0,0);
	margin-top: 20px;
}
.logon button,.login button{
	width: 15%;
	height: 30px;
	margin-top: 10px;
	background-color: #03a9f4;
	outline: none;
	border:none;
	border-radius: 20px;
	color:#fff;
}
main{
	width: 400px;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	font-size: 15px;
	color:#fff;
	margin-top: 20px;
}
/*去注册按钮*/
.a{
	width: 65%;
	margin: 0 auto;
	margin-top: 10px;
}
.a a{
	color:red;
}
/*回到首页*/
#gotoindex{
	font-size: 30px;
	margin-left: 10px;
	color:#fff;
}
/*添加切换效果*/

.logon{
	transition: all 1s ease-out;
}
.login{
	transition: all 1s ease-out;
}