*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}	
.clearfix::after{
	content:'';
	display:block;
	width:0;
	height:0;
	visibility:hidden;
	clear:both;
}
.clearfix{
	zoom:1;
} 
.fl{
	float:left;
}
.fr{
	float:right;
}
.box{
	width: 100%;
	background:url('https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=4290710894,836426395&fm=26&gp=0.jpg') no-repeat;
	background-size: 100% 100%;
	padding-top: 180px;
}
.box_box{
	width: 70%;
	height: 50%;
	text-align: center;
	background-color: rgba(0,0,0,.5);
	margin: 0 auto;
	border-radius: 20px;
	box-shadow: 1px 1px 6px 6px rgba(0,0,0,.6);
}
.logon h4,.login h4{
	color:#fff;
	font-size: 30px;
}
.login{
	display: none;
}
.logon div,.login div{
	color:#fff;
}
.logon input,.login input{
	width: 60%;
	height: 30px;
	outline: none;
	border:none;
	border-bottom:solid 1px #fff;
	color:#fff;
	background-color: rgba(0,0,0,0);
	margin-top: 20px;
}
.logon button,.login button{
	width: 15%;
	height: 30px;
	margin-top: 20px;
	background-color: blue;
	outline: none;
	border:none;
	border-radius: 20px;
	color:#fff;
}
.a{
	width: 67%;
	margin: 0 auto;
	margin-top: 10px;
}
#gotoindex{
	font-size: 30px;
}
/*添加切换效果*/
.logon{
	transition: all 1s ease-out;
}
.login{
	transition: all 1s ease-out;
}